@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Courgette');

#headingSub {
	background-color: white;
	border-radius: 20%;
	display: inline-block;
	font-family: 'Courgette', cursive;
	font-size: 3em;
	margin: 1em auto 1em;
	padding: .50em;
}

#profileImage {
	border-radius: 25%;
	width: 20%;
}

#infoSection {
	background: url(../images/background2.jpg) no-repeat fixed;
	margin-bottom: 0;
}

#infoDiv, #infoHeading {
	background-color: white;
	padding-top: 1em;
	padding-bottom: 1em;
}

#rowWrapper {
	background: url(../images/background3.jpg) no-repeat fixed;
	margin-top: -1em;
}

#albumImage {
	margin-top: 4em;
}

#supportSection {
	border-radius: 6em 2em;
}

#supportHeading {
	font-size: 3em;
}

#linkSection {
	border-radius: 4em 1em;
	padding: 0em 1.5em 1em 1.5em;
}

.btn-info {
	background-color: #F55095;
	font-family: 'Courgette', cursive;
}

.miniListItem {
	padding: .5em 0 0 0;
}

body {
	background: url(../images/background.jpg) no-repeat fixed;
	margin-top: 4em;
	text-align: center;
}

section {
	background-color: white;
	display: inline-block;
	margin: 2em auto;
}

footer {
	background-color: white;
	border-top-left-radius: 1.5em;
	border-top-right-radius: 1.5em;
	padding-top: .1em;
	padding-bottom: .1em;
}

h1 {
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	font-family: 'Kaushan Script', cursive;
	font-size: 12em;
	padding: .08em;
}

h3 {
	font-family: 'Kaushan Script', cursive;
}

p {
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 1.2em;
	text-align: left;
}

ul {
	display: inline-block;
}

li {
	padding: .5em;
}

blockquote {
	background-color: white;
	margin-top: 1em;
}
